.navigation {

    &__checkbox {
        display: none;

    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
    }
    //The navigation that opens on clicking the button. Covered by the button initially
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark); 
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;

        transform: scale(80);
    
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0; 
        z-index: 1500;

    }

    &__list {
      @include centerHorizontalVertical;
      list-style: none;
      text-align: center;

    }

    &__list-item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none; 
            text-transform: uppercase ;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            //Increases background so only the 'transparent' color is initially visible behind the link
            background-size: 230%;
            transition: all .4s;

            span {
                margin-right:1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            //Changes location of the background-image along the x-axis to the left so the white half of gradient becomes increasingly visible
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

    }
}