*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //Defines 1 rem. If default font is 16px, is 1 rem = 10px.
  font-size: 62.5%;

  // @include responsive(phone) {
  //   font-size: 50%;
  // }

  @include responsive(tab-land) { //width <=1 200px
    font-size: 56.25%; //1 rem = 9px
  }

  @include responsive(tab-port) { //width <=600px
    font-size: 50%; //1 rem = 8px
  }

  @include responsive(big-desktop) {
    font-size: 75%; //1 rem = 12px 
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
